html {
	font-family: sans-serif;
}

body {
	margin: 0px;
}


h1 {
	text-align: center;
	font-size: 50px;
	font-family: Verdana;
	color:#E9C46A;
	margin: 0px;
	padding-top: 30px;
 	/* text-shadow: -0.5px -0.5px 0 #E9C46A, 0.5px -0.5px 0 #E9C46A, -0.5px 0.5px 0 #E9C46A, 0.5px 0.5px 0 #E9C46A; */
}

h2 {
	font-size: 20px;
	font-family: Verdana;
	color:#E9C46A;
	margin: 0px;
	display: inline-block;
	
}

.hot-container p { margin-top: 10px; }
a { text-decoration: none; margin: 0 10px; }

.hot-container {
	min-height: 60px;
	width: 100%;
	text-align: center;
}

.myCanvas {
    background: #77f;  /* to show the canvas bounds */
    display:block;     /* to remove the scrollbars */
}

hr {
	border-color: #E9C46A;
	height: 5px;
	background-color: #E9C46A;
	margin: 0px;
	border: 0px;
}

.TitleBox {
	background-color: #264653;
}

.BelowBreak {
	background-color: white;
}

.Logout {
	position: absolute;
	bottom: 0px;
}

.Login {
	text-align: center;
	padding-top: 70px;
}

.SubmitButton {
	text-align: center;
}

.Register {
	text-align: center;
}

.Password {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 80px;
}

.LoginBox {
	background-color:#2A9D8F;
    color:white;
    border: 5px;
    border-style: solid;
    border-color: #2A9D8F;
    width: 350px;
    margin:120px auto;
    height:400px;        
    
}

.aboutPage {
	padding-left: 20%;
	padding-right: 20%;
	height: 500px;
}

.parallax {
  /* The image used */
  background-image: url('picture.jpg');

  /* Full height */
  height: 100%;
  height: 300px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a.btn {
	display: inline-block;
	color: #666;
	background-color: #eee;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 18px;
	padding: 15px 50px;
	width: 200px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;

}

a.btn:hover {
	background-color: #e3e3e3;
	border-color: rgba(0,0,0,0.5);
}

a.btn:active {
	background-color: #CCC;
	border-color: rgba(0,0,0,0.9);
}