html {
	background-color: #264653;
}



h1 {
	text-align: center;
	font-size: 50px;
	font-family: Verdana;
	color:#E9C46A;
	margin: 0px;
	padding-top: 30px;
 	/* text-shadow: -0.5px -0.5px 0 #E9C46A, 0.5px -0.5px 0 #E9C46A, -0.5px 0.5px 0 #E9C46A, 0.5px 0.5px 0 #E9C46A; */
}

h2 {
	font-size: 20px;
	font-family: Verdana;
	color:#E9C46A;
	margin: 0px;
	display: inline-block;
	
}

p {
	text-align: center;
	font-family: Verdana;
	color:#F4A261;
}

hr {
	border-color: #E9C46A;
	height: 5px;
	background-color: #E9C46A;
}

.Logout {
	position: absolute;
	bottom: 0px;
}

.Login {
	text-align: center;
	padding-top: 70px;
}

.SubmitButton {
	text-align: center;
}

.Register {
	text-align: center;
}

.Password {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 80px;
}

.LoginBox {
	background-color:#2A9D8F;
    color:white;
    font-weight:bold;
    border: 5px;
    border-style: solid;
    border-color: #2A9D8F;
    width: 900px;
    margin:120px auto;
    height:300px;        
    
}



.button {
	-moz-box-shadow: 0px 1px 0px 0px #1c1b18;
	-webkit-box-shadow: 0px 1px 0px 0px #1c1b18;
	box-shadow: 0px 1px 0px 0px #1c1b18;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eae0c2), color-stop(1, #ccc2a6));
	background:-moz-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-webkit-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-o-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-ms-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eae0c2', endColorstr='#ccc2a6',GradientType=0);
	background-color:#eae0c2;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-family:Verdana;
	font-size:14px;
	font-weight:bold;
	padding:15px 90px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	width: 300px;
}

.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ccc2a6), color-stop(1, #eae0c2));
	background:-moz-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-webkit-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-o-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-ms-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc2a6', endColorstr='#eae0c2',GradientType=0);
	background-color:#ccc2a6;
}

.button:active {
	position:relative;
	top:1px;
}

