html {
     font-family: sans-serif;
    /*Removes the scroll bars on the side of the map*/
     overflow: auto;
}
 body {
     margin: 0px;
}
 h1 {
     text-align: center;
     font-size: 45px;
     font-family: Verdana;
     color:#E9C46A;
     margin: 0px;
     padding-top: 30px;
     padding-bottom: 30px;
    /* text-shadow: -0.5px -0.5px 0 #E9C46A, 0.5px -0.5px 0 #E9C46A, -0.5px 0.5px 0 #E9C46A, 0.5px 0.5px 0 #E9C46A;
     */
     
}
 h2 {
     font-size: 30px;
     font-family: Verdana;
     text-align: center;
     width: 100%;
     display: inline-block;
     margin: 0;
}
 h3 {
     font-size: 60px;
     font-family: Verdana;
     color:#E9C46A;
     text-align: center;
     width: 100%;
     display: inline-block;
}
 canvas {
     display: inline;
}
 .hot-container p {
     margin-top: 10px;
}
 a {
     text-decoration: none;
     margin: 0 10px;
}
 .hot-container {
     min-height: 60px;
     width: 100%;
     text-align: center;
}
 .myCanvas {
     background: #77f;
    /* to show the canvas bounds */
     display:block;
    /* to remove the scrollbars */
}
 hr {
     border-color: #E9C46A;
     height: 5px;
     background-color: #E9C46A;
     margin: 0px;
     border: 0px;
}
 .TitleBox {
     background-color: #264653;
     width: 1000px;
     margin-left: auto;
     margin-right: auto;
     border: solid;
     border-color: #E9C46A;
}
 .BelowBreak {
     background-color: white;
}
 .Logout {
     position: absolute;
     bottom: 0px;
}
 .Login {
     text-align: center;
     padding-top: 10px;
}
 .SubmitButton {
     text-align: center;
}
 .Register {
     text-align: center;
}
 .Password {
     text-align: center;
     padding-bottom: 30px;
}
 .LoginBox {
     display: none;
     color:white;
     border: 5px;
     margin-left: auto;
     margin-right: auto;
     width: 350px;
     height: auto;
     background-color: #264653;
     border: solid;
     border-color: #E9C46A;
}
 .aboutPage {
     height: 1300px;
     font-size: 40px;
}

.copyrightBar {
	height: 50px;
	width: 100%;
	font-size: 25px;
	font-family: Verdana;
	display: inline-block;
}

 .parallax {
    /* Full height */
     height: 100%;
    /*Correction for the google window which is a bit smaller then 1080px*/
     height: 1007px;
     image-rendering: -moz-crisp-edges;
     image-rendering: -o-crisp-edges;
     image-rendering: -webkit-optimize-contrast;
     -ms-interpolation-mode: nearest-neighbor;
    /* Creates the fade effect between the background */
     transition: background 2s linear;
    /* Create the parallax scrolling effect */
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}

#parallax {
	background-image: url('indexPhotos/Image4.jpg');
}

#parallax2 {
	background-image: url('indexPhotos/Image5.jpg');
     height: 600px;
}

.aboutPageImages {
	height: 300px;
	width: 100%;
	text-align: center;

}

#aboutImage1 {
	height: 300px;
}

#aboutImage2 {
	height: 300px;
}

 a.btn {
     display: inline-block;
     color: #666;
     background-color: #eee;
     text-transform: uppercase;
     letter-spacing: 2px;
     font-size: 18px;
     padding: 15px 50px;
     width: 200px;
     border-radius: 5px;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;
     border: 1px solid rgba(0,0,0,0.3);
     border-bottom-width: 3px;
}
 a.btn:hover {
     background-color: #e3e3e3;
     border-color: rgba(0,0,0,0.5);
}
 a.btn:active {
     background-color: #CCC;
     border-color: rgba(0,0,0,0.9);
}

#errorBox {
  color: red;
  text-align: center;
  font-size: 20px;
}

#paragrahStyle {
  padding-top: 15px;
}

#LoginBtn {
  margin-top: 185px;
}
